<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <properties resource="jdbc.properties"/>
    <typeAliases>
        <typeAlias type="com.song.bean.TestMybatis" alias="TestMybatis"/>
        <typeAlias type="com.song.bean.User" alias="user" />
    </typeAliases>
        <environments default="oracle">
            <environment id="oracle">
                <transactionManager type="JDBC"></transactionManager>
                <dataSource type="POOLED">
                    <property name="driver" value="${dataSource.driverClassName}"/>
                    <property name="url" value="${dataSource.url}"/>
                    <property name="username" value="${dataSource.username}"/>
                    <property name="password" value="${dataSource.password}"/>
                </dataSource>
            </environment>
        </environments>
    <mappers>
        <!--<mapper resource="TestMybatisMapper.xml"/>-->
        <!--E:\workce_ide\spring4x_workspace\springmvcweb\src\main\java\com\song\mapper\UserDaoMapper.xml-->
        <mapper resource="UserDaoMapper.xml" />
    </mappers>

</configuration>